.card {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    margin: 20px auto;
    min-height: 200px;
    min-width: 200px;
    max-width: 25%;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

button {
    color: #FFF;
    padding: 10px 20px;
    background-color: #66b3ff;
    border: none;
    border-radius: 5px;
}
button:hover {
    background-color: #0066cc;
    cursor: pointer;
}
button:active{
    transform: translateY(1px);
}
p {
    text-align: center;
}