html {
    min-height: 100vh;
    background-color: #FF9A8B;
    background-image: linear-gradient(207deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);

    /*
    background-image: url(./../resources/main-background.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    */
    }
.card {
    text-align: center;
    color: #FFF;
    margin: 20px auto;
    padding: 30px;
    background: rgba( 255, 255, 255, 0.4 );
    box-shadow: 0 4px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.container {    
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 700px;
    margin: 20px auto;
    min-height: calc(100vh - 40px);
}
form label span{
    color: #000;
}
button {
    padding: 10px 20px;
    margin: 10px;
    text-align: center;
    background-color: transparent;
    color: #000;
    border: 1px solid #000;
}
button:hover {
    background-color: #000;
    color: #FFF;
    cursor: pointer;
    transition: 500ms;
}
button:active{
    transform: translateY(5px);
    transition: 100ms;
}
.form-input {
    margin: 20px;
}
#first-content {
    color: #000F;
    list-style: inside
}   